header {
	position: relative;
	font-size: 20px;
}


section {
	text-align: left;
	position: relative;
	width: 45%;
	float: left;
	border-width:2px;
    border-style:solid;
    border-color:black;
	font-size: 14px;
	top: 100px;
}

dl {

	text-align: left;
	position: relative;
	border-width:2px;
	border-bottom-style: solid;
    border-color:black;
    padding: 0px;
	list-style-type:none;

}

li {
	padding: 0px;
	list-style-type:none;
}

ul {
	padding: 0px;
	list-style-type:none;
}

label {
	font-style: italic;
	font-size: 22px;

}